@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Protest+Riot&display=swap');

/* estilo geral da página */
body {
    background-color: rgb(28, 79, 40);
    font-family: "Playwrite GB S", sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    background-color: white;
    width: 960px;
    margin: auto;
}

/* estilização do cabeçalho */
header {
    background-color: rgb(150, 31, 31);
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 3em;
    color: white;
    margin: 0;
}

/* estilização da parte de navegação */
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: rgb(28, 79, 40);
    margin: 0;
}

nav ul li {
    display: inline-block;
    padding: 10px 15px;
}

nav ul li a {
    color: white;
    font-family: "Protest Riot", sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    display: inline-block;
}

nav ul li a:hover {
    color: gray;
}

/* estilização do conteúdo principal da página */
main {
    text-align: center;
    padding: 20px;
}

main h3 {
    font-size: 2em;
    color: rgb(28, 79, 40);
    margin: 10px 0;
}

/* estilização do formulário */
fieldset {
    border: none;
    padding: 10px;
}

label {
    font-weight: bold;
    font-size: 1.2em;
    display: block;
    margin-top: 10px;
    color: rgb(28, 79, 40);
}

input[type="text"],
input[type="tel"],
textarea {
    width: 100%;
    height: 40px;
    font-size: 1em;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea {
    height: 150px;
    resize: none;
}

input:focus,
textarea:focus {
    background-color: rgb(150, 31, 31);
    outline: none;
    color: white;
}

/* estilização do rodapé da página */
footer {
    background-color: rgb(150, 31, 31);
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
    font-size: 1em;
}